{
  "presets": [
    "react",
    "env"
  ],
  plugins: [
    ["module-resolver", {
      root: ["./site"],
        "alias": {
          "package.json": "./package.json"
        }
    }],
    "conditional-compilation",
    "react-hot-loader/babel",
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}
